﻿@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{

   <form method="post" asp-controller="Account" asp-action="LogOff"><center>
    <font color="black">@User.Identity.Name</font>
    <input type="submit" value="Выход" /></center>
</form><br />
    <form asp-controller="Users" method="post">
        <input class="btn btn-success btn-lg btn-block" asp-controller="Users" type="submit" value="Добавление пользователя" asp-action="Index" />
    </form>
    <br />
    <form asp-controller="Project" method="post">
        <input class="btn btn-success btn-lg btn-block" asp-controller="Project" type="submit" value="Добавление проекта" asp-action="Index" />
    </form>
    <br />
    <form asp-controller="Role" method="post">
        <input class="btn btn-success btn-lg btn-block" asp-controller="Roles" type="submit" value="Role" asp-action="Index" />
    </form>
}

else
{
    <form asp-controller="Account" method="post">
        <br />
        <center><input class="btn btn-success btn-lg btn-block" asp-controller="Account" type="submit" value="Вход" asp-action="Login" /></center><br />
        <center><input class="btn btn-danger btn-lg btn-block" type="submit" value="Регистрация" asp-action="Register" asp-controller="Account" /></center>

    </form>
}