﻿@model TimeManageSystem.ViewModels.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="Surname"></label><br />
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Position"></label><br />
        <select size="1" required name="Position" asp-for="Position">
            <option selected>Выберите должность</option>
            <option value="Engineer">Инженер</option>
            <option value="Team_lead">Руководитель</option>
            <option value="Project_manager">Менеджер</option>
        </select>
        <span asp-validation-for="Position" />
    </div>

    <div>
        <br /> <input type="submit" value="Регистрация" />
    </div>
</form>