﻿@model TimeManageSystem.Models.Manager
@{
    ViewBag.Title = "Заполнение данных";
}

<form asp-action="createemanager" asp-controller="manager">

 
    <div class="form-group">
        <label asp-for="OkManag" class="control-label">Подтверждено</label>
        <input type="text" asp-for="OkManag" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="WorktimeM" class="control-label">Время работы</label>
        <input type="time" asp-for="WorktimeM" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

