﻿

<form asp-controller="Project" method="post">
    <input class="btn btn-success btn-lg btn-block" asp-controller="Project" type="submit" value="Просмотр проектов" asp-action="Index" />
</form>


@model IEnumerable<TimeManageSystem.Models.Manager>
@{
    ViewBag.Title = "Все проекты ";
}
<a asp-action="CreateEManager">Заполнить форму для менеджера</a>
<table class="table">
    <tr><td>Название проекта</td><td>Имя инженера</td><td>Описание выполненой работы</td><td>Время работы</td><td>Одобрено</td></tr>
    @foreach (var item in Model)
    {
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>@item.WorktimeM</td>
        <td>@item.OkManag</td>
    </tr>
    }
</table>