﻿@model TimeManageSystem.Models.Teamleader
@{
    ViewBag.Title = "Заполнение данных";
}
<form asp-action="createeteamlead" asp-controller="teamleader">

    <div class="form-group">
        <label asp-for="NameProject" class="control-label">Название проекта</label>
        <input type="text" asp-for="NameProject" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OkTeam" class="control-label">Подтверждено</label>
        <input type="text" asp-for="OkTeam" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Rejected" class="control-label">Отклонено</label>
        <input type="text" asp-for="Rejected" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="WorktimeT" class="control-label">Время работы</label>
        <input type="text" asp-for="WorktimeT" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
