﻿
@model IEnumerable<TimeManageSystem.Models.Teamleader>
@{
    ViewBag.Title = "Все проекты ";
}

<a asp-action="CreateETeamLead">Заполнитьь форму для выполнения заданий</a>
<table class="table">
    <tr><td>Название проекта</td><td>Дата выполнения проекта</td><td>Описание выполненой работы</td><td>Вид деятельности</td><td>Время работы</td></tr>
    @foreach (var item in Model)
    {
        <tr>
    <td></td>
    <td>@item.NameProject</td>
    <td>@item.OkTeam</td><td>@item.Rejected</td>
    <td>@item.WorktimeT</td>
        </tr>
    }
</table>