﻿@model TimeManageSystem.Models.Project
@{
    ViewBag.Title = "Добавление проекта";
}
<form asp-action="create" asp-controller="project">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название проекта</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание проекта</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Srok" class="control-label">Срок выполнения работы</label>
        <input type="text" asp-for="Srok" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit"  value="Добавить" class="btn btn-warning" />
    </div>
</form>