﻿@model TimeManageSystem.Models.Project
@{
    ViewBag.Title = Model.Name;
}
<h2>Проект @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Описание проекта</dt>
        <dd>@Model.Description</dd>

        <dt>Срок работы</dt>
        <dd>@Model.Srok</dd>
    </dl>
</div>
