﻿
@model TimeManageSystem.Models.Project
@{
    ViewBag.Title = "Редактирование проекта";
}
<form asp-action="edit" asp-controller="project" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название проекта</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание проекта</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Srok" class="control-label">Срок работы</label>
        <input type="text" asp-for="Srok" class="form-control" />
    </div><br />
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>