﻿@model IEnumerable<TimeManageSystem.Models.Project>

@{
    ViewBag.Title = "Все проекты";
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="Details" asp-controller="Project" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Project" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-controller="Project" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    @*<tr><td>Название проекта</td><td>Описание</td><td>Цена $</td><td>Срок работы</td></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.Name</td><td>@item.Description</td><td>@item.Price</td><td>@item.Srok</td></tr>
        }*@
</table><br />
<a asp-action="Create">Добавить проект</a>