﻿@model TimeManageSystem.Models.Engineer
@{
        ViewBag.Title = "Заполнение данных";
      
    }
<form asp-action="createe" asp-controller="engineer">

    @*<div class="col-md-10">
            @Html.DropDownList("EnegerId", (IEnumerable<SelectListItem>)ViewBag.Progects)
        </div>*@
    <div>
            <label asp-for="NameProject">Вид деятельности</label><br />
            <select size="1" required name="NameProject" asp-for="NameProject">
                <option selected>Выберите проект</option>
                <option value="БД">БД</option>
                <option value="Time manegment system">Time manegment system</option>
                <option value="Создание проекта за два дня">Создание проекта за два дня</option>
                <option value="game boi system">game boi system</option>
                <option value="peaceduke">peaceduke</option>
            </select>
            <span asp-validation-for="NameProject" />
        </div><br />
    <div class="form-group">
        <label asp-for="DataTaskStart" class="control-label">Дата нач.проекта</label>
        <input type="datetime-local" asp-for="DataTaskStart" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DataTaskFinish" class="control-label">Дата окон.проекта</label>
        <input type="datetime-local" asp-for="DataTaskFinish" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descriptionofwork" class="control-label">Описание выполненой работы</label>
        <input type="text" asp-for="Descriptionofwork" class="form-control" />
    </div>
    @*<div>
            <label asp-for="Kindofactiviti">Вид деятельности</label><br />
            <select size="1" required name="Kindofactiviti" asp-for="Kindofactiviti">
                <option selected>Выберите действие</option>
                <option value="В разработке">В разработке</option>
                <option value="В доработке">В доработке</option>
                <option value="Выполнено">Выполнено</option>
            </select>
            <span asp-validation-for="Kindofactiviti" />
        </div>*@<br />
    @*<div class="form-group">
            <label asp-for="Kindofactiviti" class="control-label">Вид деятельности</label>
            <input type="text" asp-for="Kindofactiviti" class="form-control" />
        </div>*@
    <div class="form-group">
        <label asp-for="Worktime" class="control-label">Время работы</label>
        <input type="time" asp-for="Worktime" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>