﻿

<form asp-controller="Project" method="post">
    <input class="btn btn-success btn-lg btn-block" asp-controller="Project" type="submit" value="Просмотр проектов" asp-action="Index" />
</form>


@model IEnumerable<TimeManageSystem.Models.Engineer>
@{
    ViewBag.Title = "Все проекты ";
}
<a asp-action="Createe">Заполнитьь форму для выполнения заданий</a>
<table class="table">
    <tr><td>Название проекта</td><td>Дата нач.проекта</td><td>Дата окон.проекта</td><td>Описание выполненой работы</td><td>Время работы</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.NameProject</td><td>@item.DataTaskStart</td><td>@item.DataTaskFinish</td><td>@item.Descriptionofwork</td><td>@item.Worktime</td></tr>
    }
</table>