﻿@model TimeManageSystem.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div>
        <label asp-for="Surname" class="control-label">Surname</label>
        <input type="text" asp-for="Surname" class="form-control" />

    </div>
    <div>
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />

    </div>
    <div>
        <label asp-for="Position"></label><br />
        <select size="1" required name="Position" asp-for="Position">
            <option selected>Выберите должность</option>
            <option value="Engineer">Инженер</option>
            <option value="Team_lead">Руководитель</option>
            <option value="Project_manager">Менеджер</option>
        </select>
        <span asp-validation-for="Position" />
    </div><br/>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>